.estilo-grafica{
  display: block !important;
}

.borde-grafica-01{
  border: 1px solid #9ca6ff !important; 
}

.borde-grafica-02{
  border: 1px solid #f1b6ea !important; 
}

.mostrar-graficas{
  display: block !important;
}

.ocultar-graficas{
  display: none !important;
}

.estilo-totales{
  background-color: rgb(87, 88, 90, 0.6) !important;
  color: whitesmoke !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.ancho-columna-tabla{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.estilo-columna-Familia{
  background-color:#214668 !important;
  color: whitesmoke !important;
  padding: 2px !important;
}

.estilo-columna-VTA{
  color:#89bb34 !important;
  padding: 10px !important;
}

.estilo-columna-VTA-Ton{
  color:#a30c0c !important;
  padding: 10px !important;
}

.estilo-columna-Mezcla{
  color:#e26ecf !important;
  padding: 10px !important;
}

.estilo-columna-Utilidad{
  color:#4644e9 !important;
  padding: 10px !important;
}

.estilo-columna-Margen{
  color:#2e2e2e !important;
  padding: 10px !important;
}

.dimensiones-grafica{
  height: 300px !important;
}