<!-- <app-main-header></app-main-header>
<app-main-sidebar></app-main-sidebar>
<app-content-wrapper></app-content-wrapper>
<app-control-sidebar></app-control-sidebar>
<app-main-footer></app-main-footer>
<router-outlet></router-outlet> -->

<div *ngIf="isLoggedIn; else noLogueado">
  <app-main-header></app-main-header>
  <app-main-sidebar></app-main-sidebar>
  
  <div class="content-wrapper">
    <app-breadcrum></app-breadcrum>
    <div class="content">
      <div class="container-fluid pt-4 pl-2 pr-2 pb-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <app-main-footer></app-main-footer>
  <app-control-sidebar></app-control-sidebar>
</div>

<ng-template #noLogueado>
  <router-outlet></router-outlet>
</ng-template>