  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="font-size: 16px !important;">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link align-items-center d-flex">
      <img src="assets/imgs/logos/logo-blanco.png" alt="Logo empresa" class="brand-image img-circle elevation-3" style="opacity: .8;width: 40px !important;">
      <div class="brand-text font-weight-light text-center w-100">
        <div class="p-0 m-0">
          Grupo &nbsp; Cofiasa
        </div>
      </div>
      <!-- <img src="assets/imgs/logos/logo-blanco.png" alt="Logo empresa" class="brand-image img-circle elevation-3" style="opacity: .8; width: 14px !important;"> -->
      <!-- <span class="brand-text font-weight-light">Cofiasa / Pradesa</span> -->      
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <span *ngIf="infoUsuario.UrlFoto; else SinFoto">
            <img [src]="'http://172.16.1.28/FotosRH/' + infoUsuario.UrlFoto" class="img-circle elevation-2" alt="User Image" style="height: 40px;  width: 40px !important;">
          </span>
          <ng-template #SinFoto>
            <img src="assets/imgs/no_photo_01.png" class="img-circle elevation-2" alt="User Image" style="height: 40px;  width: 40px !important;">
          </ng-template>
        </div>
        <div class="info">
          <a href="#" class="d-block">{{infoUsuario.Usuario}}</a>
        </div>
      </div>      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <ng-container *ngFor="let menu of menuLateral">
            <ng-container *ngIf="menu.Aplicacion === 'Indicadores'">
              <ng-container *ngFor="let submenu of menu.Menu">
                <ng-container *ngIf="submenu.Contenedor === undefined">
                  <li class="nav-item" *ngFor="let seccion of submenu.Submenu">
                    <a routerLink="{{seccion.Ruta}}" routerLinkActive="active" class="nav-link">
                      <i class="nav-icon {{seccion.Icono}}"></i>
                      <p>
                        {{seccion.Seccion}}
                      </p>
                    </a>
                  </li>                
                </ng-container>
                <li class="nav-item" *ngIf="submenu.Contenedor" routerLinkActive="menu-open">
                  <a href="#" class="nav-link">
                    <i class="nav-icon {{submenu.Icono}}"></i>
                    <p>
                      {{submenu.Contenedor}}
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item" *ngFor="let seccion of submenu.Submenu">
                      <a routerLink="{{seccion.Ruta}}" routerLinkActive="active" class="nav-link pl-4">
                        <i class="nav-icon {{seccion.Icono}}"></i>
                        <p>
                          {{seccion.Seccion}}
                        </p>
                      </a>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let menu of menuLateral">
            <ng-container *ngIf="menu.Aplicacion !== 'Indicadores'">
              <li class="nav-item">
                <a href="{{menu.Ruta}}" class="nav-link">
                  <i class="nav-icon {{menu.Icono}}"></i>
                  <p>
                    {{menu.Aplicacion}}
                    <i class="pi pi-link right"></i>
                  </p>
                </a>
              </li>
            </ng-container>
          </ng-container>
          <li class="nav-item">
            <a routerLink="dashboard" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa-solid fa-arrow-right-from-bracket"></i>
              <p>
                Cerrar sesión
              </p>
            </a>
          </li>          
        </ul>

<!-- Este menu comentado, muestra todas las aplicaciones con sus respectivas opciones -->
<!--       <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <ng-container *ngFor="let menu of menuLateral">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon"></i>
                <p>
                  {{menu.Aplicacion}}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <ng-container class="nav-item" *ngFor="let submenu of menu.Menu">
                  <li class="nav-item" *ngIf="submenu.Contenedor === undefined">
                    <a href="pages/widgets.html" class="nav-link">
                      <i class="nav-icon {{submenu.Submenu[0].Icono}}"></i>
                      <p>
                        {{submenu.Submenu[0].Seccion}}
                      </p>
                    </a>
                  </li>
                  <li class="nav-item" *ngIf="submenu.Contenedor">
                    <a href="#" class="nav-link">
                      <i class="nav-icon {{submenu.Icono}}"></i>
                      <p>
                        {{submenu.Contenedor}}
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item" *ngFor="let seccion of submenu.Submenu">
                        <a href="pages/widgets.html" class="nav-link">
                          <i class="nav-icon {{seccion.Icono}}"></i>
                          <p>
                            {{seccion.Seccion}}
                          </p>
                        </a>
                      </li>
                    </ul>
                  </li>                  
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ul>-->        
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>