  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4 fuente-16">
    <!-- Brand Logo -->
    <a routerLink="./main/dashboard" class="brand-link align-items-center d-flex">
      Logo - 
      
      <div class="brand-text font-weight-light text-center w-100">
        <div class="p-0 m-0">
          Nombre empresa
        </div>
      </div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 pb-3 pt-0 mb-2 d-flex">
        <div class="image text-white">
          Imagen usuario
        </div>
        <div class="info d-flex align-items-center">
        </div>
      </div>      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="./main/dashboard" routerLinkActive="active" class="nav-link">
              <i class="nav-icon pi pi-list"></i>
              <p>
                Control de metas
              </p>
            </a>
          </li> 
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>