<p>dashboard works!</p>

<div class="row">
  <div class="col-md-3">
    <div class="border rounded">
      indicador 1
    </div>
  </div>
  <div class="col-md-3">
    <div class="border rounded">
      indicador 2
    </div>
  </div>
  <div class="col-md-3">
    <div class="border rounded">
      indicador 3
    </div>
  </div>
  <div class="col-md-3">
    <div class="border rounded">
      indicador 4
    </div>
  </div>
</div>
<div class="row gx-2 mt-4">
  <div class="col-md-9">
    <div class="border rounded">
      mapa
    </div>
  </div>
  <div class="col-md-3">
    <div class="border rounded">
      gráficas
    </div>
  </div>
</div>
